@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!DOCTYPE html>
<!-- Template Name: Packet - Responsive Admin Template build with Twitter Bootstrap 3.x | Author: ClipTheme -->
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- start: HEAD -->
<head>
    <title>@ViewBag.Title</title>
    <!-- start: META -->
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- end: META -->
    <!-- start: MAIN CSS -->
    <link rel="stylesheet" href="~/lib//bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib//font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib//themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/lib//flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/lib//animate.css/animate.min.css">
    <link rel="stylesheet" href="~/lib//perfect-scrollbar/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="~/lib//switchery/dist/switchery.min.css">
    <link rel="stylesheet" href="~/lib//seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css">
    <link rel="stylesheet" href="~/lib//ladda/dist/ladda-themeless.min.css">
    <link rel="stylesheet" href="~/lib//slick.js/slick/slick.css">
    <link rel="stylesheet" href="~/lib//slick.js/slick/slick-theme.css">
    <!-- end: MAIN CSS -->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
    <!-- start: Packet CSS -->
    <link rel="stylesheet" href="~/assets/css/styles.css">
    <link rel="stylesheet" href="~/assets/css/plugins.css">
    <link rel="stylesheet" href="~/assets/css/themes/lyt2-theme-1.css" id="skin_color">
    <!-- end: Packet CSS -->
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- end: HEAD -->
<!-- start: BODY -->
<body>
    <!-- start: 500 -->
    <div class="error-full-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 page-error">

                    @RenderBody()

                   
                </div>
            </div>
        </div>
    </div>
    <!-- end: 500 -->
</body>
</html>