@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "";
    Layout = "_Exceptions";
}

<div class="error-number text-azure">
    403
</div>
<div class="error-details col-sm-6 col-sm-offset-3">
    <h3>Oops! Access Denied</h3>
    <p>
        Unfortunately the page you were looking for is not shared with you or you do not have access to this area.
        <br>
        <a href="/" class="btn btn-red btn-return">
            Try Again 
        </a>
        <br>
        Still no luck?
        <br>
        Please contact system Administrator.
    </p>
     
</div>
