@{
    Layout = "_Dialog";
}
<fieldset>
    <legend>
        Search Criteria
    </legend>
    <div class="tabbable">
        <ul class="nav nav-tabs active in">
            <li class="active">
                <a href="#tabUsers" data-toggle="tab"> Search  Users </a>
            </li>
            <li>
                <a aria-expanded="true" href="#tabGroups" data-toggle="tab"> Search Groups</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="tabUsers">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            @*<label> First Name </label>*@
                            <input name="firstName" class="form-control input-lg" type="text" placeholder="Enter First Name" id="txtfirstName" />
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <input name="lastName" class="form-control input-lg" type="text" placeholder="Enter Last Name" id="txtlastName" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <input type="text" placeholder="Enter PF#" class="form-control input-lg" name="PF" id="txtPF" />
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <input type="text" placeholder="Enter Title" class="form-control input-lg" name="Title" id="txtTitle" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <input type="text" placeholder="Enter Email" class="form-control input-lg" name="Email" id="txtEmail" />
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <input id="autocOH" placeholder="Enter Organization Name" class="form-control input-sm" name="autocOH" style="border-color: #aeacb4 !important;box-sizing: content-box;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tabGroups">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label> Group Name </label>
                            <input name="txtGroupName" class="form-control input-lg" type="text" placeholder="Enter Group Name" id="txtGroupName">
                        </div>
                    </div>
                    <div class="col-md-5">

                    </div>
                </div>
            </div>

        </div>
    </div>
    <a class="btn btn-primary" href="#" style="float:right" id="btnSearch"> <i class="fa fa-search"></i> Search </a>
</fieldset>
<fieldset>
    <legend>
        Search Results
    </legend>
    <table class="table table-striped" id="tblUserGroupsResults">
        <tbody>
            <tr>
                <td colspan="6">
                    <div class="no-items-pending-action" style="padding:1%">
                        <i class="fa fa-info-circle"></i> Start your Search
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row text-right" style="padding-right:1%" align="right">
        <input type="hidden" name="hdnPageIndex" value="1" id="hdnPageIndex" />
        <ul id="pagination-UsersGroups" class="pagination-sm  text-right"></ul>
    </div>
</fieldset>

<style type="text/css">
    .k-autocomplete {
        width: 100%;
        appearance: none;
        background-color: #FFFFFF !important;
        background-image: none !important;
        border: 1px solid #c8c7cc;
        border-radius: 0;
        color: #5b5b60 !important;
        font-family: inherit !important;
        font-size: 14px !important;
        padding: 5px 4px !important;
        box-shadow: none !important;
    }

    .k-itemx {
        background-color: #e8f5ff !important;
        padding: 5px !important;
        padding-left: 0 !important;
        font-weight: bolder;
        width: 100%;
    }
</style>
<script type="text/javascript">
    var selectedOrgid = 0;
    $(document).ready(function () {
        var dataSource = new kendo.data.DataSource({
            serverFiltering: true,
            transport: {
                type: "json",
                serverFiltering: true,
                read: {
                    url: "/Project/SearchOrganizationHierarchy"
                },
                parameterMap: function (data, action) {
                    var newParams = {
                        filter: data.filter.filters[0].value
                    };
                    return newParams;
                }
            }
        });
        var autocomplete = $("#autocOH").kendoAutoComplete({
            minLength: 3,
            dataTextField: "orgname",
            dataSource: dataSource,
            headerTemplate: '',
            template: kendo.template($("#UserGroups-template").html()),
            select: function (ev) {
                var dataItem = this.dataItem(ev.item.index());
                selectedOrgid = dataItem.orgid;
            }
        }).data("kendoAutoComplete");

        $("#btnSearch").click(function () {
            var hrefText = $(".tabbable ul li.active a").attr("href");
            if (hrefText == "#tabUsers") {
                //Search Users
                var dataForm = collectUserSearchData(true);
                $.ajax({
                    url: "/Account/SearchUsers",
                    success: function (result) {
                        if (result != null && result.count > 0) {
                            loadPagination(result.count);
                            var htmlDataTemplate = kendo.template($("#UsersRow-template").html());
                            var htmlData = htmlDataTemplate(result.data);
                            $("#tblUserGroupsResults").html(htmlData);
                            //UINotifications.ShowToast("success", "Your Projet [ Text ] Saved Successfuly.", "Saved Successfuly");
                        } else {
                            loadPagination(0);
                            $("#tblUserGroupsResults").html(kendo.template($("#UserGroupsNoResults-template").html()));
                        }
                    },
                    cache: false,
                    dataType: 'json',
                    error: function (xhr, status, error) {
                        UINotifications.ShowToast("error", "Error Message: [ " + error + " ]", "Save Faild");
                    },
                    type: "POST",
                    data: JSON.stringify(dataForm),
                    contentType: "application/json"
                });
            }
            else
                if (hrefText == "#tabGroups") {
                    //Search Groups
                    var dataForm = collectUserSearchData(false);

                    $.ajax({
                        url: "/Account/SearchGroups",
                        success: function (result) {
                            if (result != null && result.count > 0) {
                                loadPagination(result.count);
                                var htmlDataTemplate = kendo.template($("#GroupsRow-template").html());
                                var htmlData = htmlDataTemplate(result.data);
                                $("#tblUserGroupsResults").html(htmlData);
                                ////UINotifications.ShowToast("success", "Your Projet [ Text ] Saved Successfuly.", "Saved Successfuly");
                            } else {
                                loadPagination(0);
                                $("#tblUserGroupsResults").html(kendo.template($("#UserGroupsNoResults-template").html()));
                            }
                        },
                        cache: false,
                        dataType: 'json',
                        data: JSON.stringify(dataForm),
                        error: function (xhr, status, error) {
                            UINotifications.ShowToast("error", "Error Message: [ " + error + " ]", "Save Faild");
                        },
                        type: "POST",
                        //data: JSON.stringify(dataForm),
                        contentType: "application/json"
                    });

                }
                else {
                    alert('PLease Select a User or Groups Tab')
                }
        });
    });

    function collectUserSearchData(isUser) {
        if (isUser) {
            //Collect User Data
            var autocomplete = $("#autocOH").data("kendoAutoComplete");
            if ($.trim(autocomplete.value()) == "")
                selectedOrgid = 0;

            return usersSearchRequestView = {
                PFNo: $("#txtPF").val(),
                FirstName: $("#txtfirstName").val(),
                FamilyName: $("#txtlastName").val(),
                Title: $("#txtTitle").val(),
                Email: $("#txtEmail").val(),
                OrganizationId: selectedOrgid,
                PageIndex: $("#hdnPageIndex").val(),
            };
        }
        else {
            //Collect Groups Data
            return GroupsSearchRequestView = {
                Name: $("#txtGroupName").val(),
                PageIndex: $("#hdnPageIndex").val()
            };
        }
    }

    function loadPagination(totalRecourds) {
        $("#hdnPageIndex").val(1);

        if (totalRecourds <= 10)
            $("#pagination-UsersGroups").hide();
        else {
            var recordsPerPage = @ADMA.EWRS.BizDomain.Configurations.Instance.RecordsPerPage;
            var totalPages = ((totalRecourds-1) / recordsPerPage)+1;

            $("#pagination-UsersGroups").show();
            $("#pagination-UsersGroups").twbsPagination({
                totalPages: totalPages,
                visiblePages: 10,
                href: '#page={{number}}',
                onPageClick: function (event, page) {
                    $("#hdnPageIndex").val(page);
                }
            });
        }
    }
</script>

@*
        //-----------------------------
        Users Json Object
        //--------------------------
        {
            "user_Id":122,
            "pfNo":"040244",
            "employeeName":"ALI EISSA ABDUL KADER AL-AMERI",
            "title":"FREIGHT SUPERVISOR:26908",
            "email":"aameri2@adma.ae",
            "organizationId":12356,
            "organizationHierarchyText":{
                "orgid":12356,
                "orgname":"MATERIALS HANDLING SECTION",
                "bU_NAME":"ADMINISTRATIVE SERVICES BUSINESS UNIT",
                "diV_NAME":"COMMERCIAL DIVISION",
                "deP_NAME":"WAREHOUSE DEPARTMENT",
                "teaM_NAME":"MUSAFFAH WAREHOUSE TEAM",
                "sectioN_NAME":"MATERIALS HANDLING SECTION"
            },
            "gender":"Male OR    Female"},

     //-----------------------------
        Groups Json Object
        //--------------------------
    {
        group_Id,
        name,
        users List<string>,
    }

*@

<!-- start: Templates -->
<script id="UserGroups-template" type="text/x-kendo-template">
    <div>
        <div class="k-itemx">
            ${ data.orgname }
        </div>
        <span><b>BU</b>  ${ data.bU_NAME }</span>  <br />
        <span><b>Div</b>  ${ data.diV_NAME }</span>  <br />
        <span><b>Dep</b>  ${ data.deP_NAME }</span>  <br />
        <span><b>Team</b>  ${ data.teaM_NAME }</span>  <br />
        <span><b>Sec</b>  ${ data.sectioN_NAME }</span>  <br />
    </div>
</script>
<script id="UsersRow-template" type="text/x-kendo-template">
    <thead>
        <tr>
            <th>User Id</th>
            <th class="center">Photo</th>
            <th>Full Name</th>
            <th class="hidden-xs">Title</th>
            <th class="hidden-xs">Email</th>
            <th class="hidden-xs">Organization Tree</th>

        </tr>
    </thead>
    <tbody>
        # for (var i = 0; i < data.length; i++) { #
        <tr>
            <td class="center">
                <div class="checkbox clip-check check-primary check-md">
                    <input id="chkUser_${ data[i].user_Id }" type="checkbox" value="${ data[i].user_Id }">
                    <label for="chkUser_${ data[i].user_Id }"> ${ data[i].user_Id } </label>
                </div>
            </td>
            <td class="center">
                # if( data[i].gender == "Male" ) {#
                @*<img class="img-rounded" src="~/images/form/User_female.png" />*@
                <img class="img-rounded img-grid" src="/images/form/User_male.png" />
                @*<img class="img-rounded img-grid" src="~/images/form/User-Group.png" />*@
                # }  else { #
                <img class="img-rounded img-grid" src="/images/form/User_female.png" />
                # } #
            </td>
            <td>${ data[i].employeeName } <b>(${ data[i].pfNo })</b></td>
            <td class="hidden-xs">  ${ data[i].title }  </td>
            <td class="hidden-xs"><a href="mailto:${ data[i].email }" target="_blank" rel="nofollow"> ${ data[i].email } </a></td>
            <td class="hidden-xs">
                Org Name:  ${ data[i].organizationHierarchyText.orgname } <br />
                <hr />
                BU: ${ data[i].organizationHierarchyText.bU_NAME } <br />
                Div: ${ data[i].organizationHierarchyText.diV_NAME } <br />
                Dep: ${ data[i].organizationHierarchyText.deP_NAME } <br />
                Team: ${ data[i].organizationHierarchyText.teaM_NAME } <br />
                Sec: ${ data[i].organizationHierarchyText.sectioN_NAME } <br />

            </td>
        </tr>
        # } #
    </tbody>
</script>
<script id="UserGroupsNoResults-template" type="text/x-kendo-template">
    <tr>
        <td colspan="6">
            <div class="no-items-found" style="padding:1%;">
                No Results Found <i class="fa fa-frown-o"></i>
            </div>
        </td>
    </tr>
</script>
<script id="GroupsRow-template" type="text/x-kendo-template">
    <thead>
        <tr>
            <th style="width:1%">Group Id</th>
            <th class="center" style="width:2%">Photo</th>
            <th>Group Name</th>
            <th class="hidden-xs">Group Members</th>

        </tr>
    </thead>
    <tbody>
        # for (var i = 0; i < data.length; i++) { #
        <tr>
            <td class="center">
                <div class="checkbox clip-check check-primary check-md">
                    <input id="chkUser_${ data[i].group_Id }" type="checkbox" value="${ data[i].group_Id }">
                    <label for="chkUser_${ data[i].group_Id }"> ${ data[i].group_Id } </label>
                </div>
            </td>
            <td class="center">
                <img src="/images/form/User-Group.png" class="img-rounded img-grid" />
            </td>
            <td>${ data[i].name }</td>
            <td class="hidden-xs">
                <ul>
                    # for (var iu = 0; iu < data[i].users.length; iu++) { #
                    <li>
                        ${ data[i].users[iu] }
                    </li>

                    # } #
                </ul>

                @*Sec: ${ data[i].organizationHierarchyText.sectioN_NAME } <br />*@

            </td>
        </tr>
        # } #
    <tbody>
</script>
<!-- end: Templates -->

@section CssStyle{
    <link rel="stylesheet" href="/lib/toastr/toastr.min.css">
    <link href="/lib/nestable-fork/dist/jquery.nestable.min.css" rel="stylesheet" media="screen">
    <link href="/css/_nestable.css" rel="stylesheet" />
    <link href="/lib/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen">
    <link href="/lib/select2/dist/css/select2.min.css" rel="stylesheet" media="screen">
}

@section Scripts{
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="/lib/toastr/toastr.min.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <!-- start: Packet JAVASCRIPTS -->
    <script src="/assets/js/letter-icons.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/lib/twbs-pagination/jquery.twbsPagination.min.js"></script>
    <!-- end: Packet JAVASCRIPTS -->
    <!-- start: JavaScript Event Handlers for this page -->
    <script src="/assets/js/selectFx/classie.js"></script>
    <script src="/assets/js/selectFx/selectFx.js"></script>
    <script src="/js/CreateProjectUI-elements.js"></script>
    <script src="/js/CreateProjectUI-Notifications.js"></script>
    <!-- end: JavaScript Event Handlers for this page -->
}