@{
}
@model ProjectInfoWizardStepView

<div class="row">
    <div class="col-md-6">
        <fieldset style="min-height:300px;">
            <legend>
                <i class="fa fa-info-circle"></i> &nbsp; Project Information
            </legend>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label> Project Name <span class="symbol required"></span> </label>
                        <input type="text" placeholder="Enter Project Name" class="form-control" name="Name" asp-for="Name" id="txtName"  />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label> Description </label>
                        <textarea type="text" placeholder="Enter Project Description" class="form-control" name="Description" rows="7" asp-for="Description" id="txtDescription"></textarea>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-md-6">
        <fieldset style="min-height:300px;">
            <legend>
                Project Organization Scope
            </legend>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="hidden" name="ORGANIZATION_ID" asp-for="ORGANIZATION_ID" id="hdnORGANIZATION_ID" />
                        <table class="table table-striped" cellpadding="10" cellspacing="20">
                            <thead>
                                <tr>
                                    <th>Organization</th>
                                    <th>Organization Name</th>
                                    @*<th class="hidden-xs"</th>*@
                                    <th>Project Organization</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (OrganizationHierarchyView item in Model.OrganizationHierarchyTree)
                                {
                                    <tr>
                                        <td><b> @item.OrganizationType  </b></td>
                                        <td>  @item.OrganizationName </td>
                                        @if (item.IsTargetOrganization)
                                        {
                                            <td><span class="label label-sm label-success">Under</span></td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
 