@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-md-3">
        <div class="padding-30">
            <h2 class="StepTitle">Create Review Workflow <span class="text-large block">to manage everything you do with your project subjects and millstones</span></h2>
            <p>
                Through this template you can control your project gaining benefits including:
            </p>
            <p class="text-small">
                <ul class="no-margin">
                    <li>
                        Access to exclusive releases and limited products.
                    </li>
                    <li>
                        ng-Clip services, benefits and promotions.
                    </li>
                </ul>
            </p>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row no-margin">
            <div class="col-xs-12 no-padding no-border">
                <div class="row no-margin">
                    <div class="col-md-4 col-lg-3 no-padding">
                        <div class="panel panel-azure no-border no-radius no-margin">
                            <div class="panel-body wf-updaterData">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-9 no-padding">
                        <div class="panel panel-white no-radius no-margin">
                            <div class="panel-heading border-light padding-30">
                                <div class="row">
                                    <div class="col-lg-8 col-xs-7">
                                        <h3><strong> Project Default Review</strong> Workflow</h3>
                                    </div>
                                    <div class="col-lg-4 col-xs-5 text-right">
                                        <div class="btn-group margin-top-5">
                                            <button class="btn btn-azure btn-sm" type="button">
                                                Action: <span class="text-bold">To Do:</span>
                                            </button>
                                            <button class="btn btn-azure btn-sm dropdown-toggle" aria-expanded="false" aria-haspopup="true" type="button" data-toggle="dropdown">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li role="menuitem">
                                                    <a href="#"> <i class="fa fa-user-plus"></i>  Add User/Group</a>
                                                </li>
                                                <li role="menuitem">
                                                    <a href="#"> <i class="fa fa-cloud-download"></i> Load from HRMS </a>
                                                </li>
                                                <li role="menuitem">
                                                    <a href="#"> <i class="fa fa-link"></i> Link to Existing Workflow</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li role="menuitem">
                                                    <a href="#"> <i class="fa fa-eraser"></i> Empty Workflow </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body dd padding-20" id="nestableWf">

                                <fieldset id="TextBoxesGroup">
                                    <legend>
                                        Subject(s)
                                    </legend>

                                    <div class="form-group">
                                        <label> Workflow Name <span class="symbol required"></span> </label>
                                        <input id="txtWorkflowName" type="text" placeholder="Enter Subject Title" class="form-control" value="" />
                                    </div>

                                    <ol class="list-group dd-list">
                                        <li class="dd-item list-group-item no-radius no-margin no-border-top no-border-left no-border-right" data-id="1">
                                            <div class="row">
                                                <div class="col-md-1" style="width:20px !important; height:95px">
                                                    <input type="hidden" class="nstWf_hdnSequenceNo" value="1" />
                                                </div>
                                                <div class="col-md-11">
                                                    <div class="pull-left padding-right-10" style="font-size:60px"> <i class="fa fa-street-view"></i></div>
                                                    <div class="media-body ">
                                                        <small class="pull-right text-light"><span class="label partition-blue">Originator</span></small>
                                                        <strong class="updater-title"> Originator </strong>
                                                        <br>
                                                        <small class="text-light"></small>
                                                        <div class="pull-right">
                                                            <span class="btn btn-xs btn-default"> 1 </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="dd-item list-group-item no-radius no-margin no-border-top no-border-left no-border-right" data-id="2">
                                            <div class="row">
                                                <div class="col-md-1 dd-handle">
                                                    <i class="fa fa-sort"></i>
                                                    <input type="hidden" class="nstWf_hdnSequenceNo" value="2" />
                                                </div>
                                                <div class="col-md-11">
                                                    <div class="pull-left padding-right-10"> <img class="img-circle" alt="image" src="/assets/images/avatar-2.jpg"> </div>
                                                    <div class="media-body ">
                                                        <small class="pull-right text-light">5 mins ago</small>
                                                        <strong> [[ Name  2]] </strong> (<strong> [[ PF No.]] </PF></strong>)
                                                        <br>
                                                        <small class="text-light">  [[ Title ]] </small>
                                                        <div class="pull-right">
                                                            <span class="btn btn-xs btn-default btn-seq"> 2 </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="dd-item list-group-item no-radius no-margin no-border-top no-border-left no-border-right" data-id="3">
                                            <div class="row">
                                                <div class="col-md-1 dd-handle">
                                                    <i class="fa fa-sort"></i>
                                                    <input type="hidden" class="nstWf_hdnSequenceNo" value="3" />
                                                </div>
                                                <div class="col-md-11">
                                                    <div class="pull-left padding-right-10"> <img class="img-circle" alt="image" src="/assets/images/avatar-2.jpg"> </div>
                                                    <div class="media-body ">
                                                        <small class="pull-right text-light">5 mins ago</small>
                                                        <strong> [[ Name 3 ]] </strong> (<strong> [[ PF No.]] </PF></strong>)
                                                        <br>
                                                        <small class="text-light">  [[ Title ]] </small>
                                                        <div class="pull-right">
                                                            <span class="btn btn-xs btn-default btn-seq"> 3 </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                </fieldset>
                            </div>
                        </div>
                        <div class="panel-footer no-border">
                            <p class="no-margin">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- start: Template Area  -->
<script id="reviewWfUpdaters-template" type="text/x-kendo-template">
    <ct-paneltool class="panel-tools" tool-expand="tool-expand"></ct-paneltool>
    <h3 class="text-white padding-top-10">Project Updaters</h3>
    <nav class="links cl-effect-13 no-margin text-white" id="cl-effect-13">
        # for (var i = 0; i < data.length; i++) { #
        <a href="" class="text-white updater-item" data-wf-tmId="${ data[i].TeamModel_Id }">
            ${ data[i].Name }
            # if (data[i].HasWf ) { #
            <span class="badge badge-default" style="float:right"> <i class="fa fa-flag"></i> </span>
            # } #
        </a>
        # } #
    </nav>
    <hr class="text-white" />
    <div class="block text-dark text-center">
        <span class="counter text-bold text-white" filter="number" duration="0.4" value="0" count-to="12">${ data.length - 1 }</span>
        <h4 class="text-uppercase text-white no-margin">Updaters</h4>
    </div>
</script>
<!-- end: Template Area -->
