@{
}
@model List<TeamModeWizardStepView>
<div class="row">
    <div class="col-md-3">
        <div class="padding-30">
            <h2 class="StepTitle">Create a Team Model <span class="text-large block">to manage everything you do with your project subjects and millstones</span></h2>
            <p>
                Through this template you can control your project gaining benefits including:
            </p>
            <p class="text-small">
                <ul class="no-margin">
                    <li>
                        Access to exclusive releases and limited products.
                    </li>
                    <li>
                        ng-Clip services, benefits and promotions.
                    </li>
                </ul>
            </p>
        </div>
    </div>
    <div class="col-md-9">
        <fieldset>
            <legend>
                Team Modules
            </legend>
            <div class="row height-50 text-right">
                <button class="btn btn-success btn-scroll btn-scroll-left ti-user" type="button" onclick="showAddDlg();">
                    <span><i class="fa fa-user-plus"></i> Add </span>
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">
                        Sort
                    </button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#" class="sort" data-sort="my-order:asc">Ascending Order </a>
                        </li>
                        <li>
                            <a href="#" class="sort" data-sort="my-order:desc"> Descending Order </a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">
                        Filter
                    </button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#" class="filter" data-filter="all"> ALL </a>
                        </li>
                        <li>
                            <a href="#" class="filter" data-filter=".updater"> Updater </a>
                        </li>
                        <li>
                            <a href="#" class="filter" data-filter=".viewer"> Viewer </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div id="Container">
                    <div class="panel panel-white min-height-100">
                        <div class="panel-heading">
                            <div class="panel-title no-items-pending-action" style="padding:10%">
                                <i class="fa fa-info-circle"></i> Click Add button to add Users or Groups 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>
    </div>
</div>

<!-- start: Template Area  -->
<script id="team-template" type="text/x-kendo-template">
    <div class="mix viewer col-sm-6 col-md-3" data-my-order="1">
        <div class="thumbnail thumbnail-updater">
            <div class="row">
                <div class="col-md-3 no-space text-right">
                    <button type="button" class="btn btn-red">
                        <i class="fa fa-user-times"></i>
                    </button>
                </div>
                <div class="col-md-6 " align="center">
                    <img class="img-responsive img-card" alt="" src="/images/form/User_female.png">
                </div>
            </div>
            <div class="padding-20 height-200 thumbnail-card">
                <h4>Murad Mahmoud</h4>
                <div class="form-group">
                    <select class="cs-select cs-skin-slide" onselect="alert(1)">
                        <option value="Updater" data-class="fa fa-dropbox">Updater</option>
                        <option value="Viewer" data-class="fa fa-github">Viewer</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="radio clip-radio radio-primary no-space ">
                        <input name="vertical" id="radio3" type="radio" value="radio3" checked="checked">
                        <label for="radio3"> Project Level</label>
                    </div>
                    <div class="radio clip-radio radio-primary no-space ">
                        <input name="vertical" id="radio4" type="radio" value="radio4">
                        <label for="radio4">
                            <span class="cl-effect-3 links block margin-top-10">
                                <a href="#" class="uppercase text-dark text-uppercase text-bold text-extra-small">
                                    Specific Subject
                                    <i class="padding-left-5 fa fa-angle-right"></i>
                                </a>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script id="teamSubjects-template" type="text/x-kendo-template">
    <div style="width:350px">
        <h3>Project Subjects</h3>
        <div class="checkbox clip-check check-success">
            <input id="checkbox61" type="checkbox" value="1">
            <label for="checkbox61"> Checkbox 1 </label>
        </div>
        <div class="checkbox clip-check check-success">
            <input id="checkbox71" type="checkbox" value="1">
            <label for="checkbox71"> Checkbox 2 </label>
        </div>
        <div class="checkbox clip-check check-success">
            <input id="checkbox81" type="checkbox" value="1">
            <label for="checkbox81"> Checkbox 3 </label>
        </div>
    </div>
</script>
<div id="dilgWndow">
</div>
<!-- end: Template Area -->

<script type="text/javascript">
    var activeElm = null;
    var mainWindow = null;

    $(document).ready(function () {
        $('#Container').mixItUp({
            animation: {
                enable: false
            },
            layout: {
                display: 'inline'
            },
            callbacks: {
                onMixLoad: function () {
                    $(this).mixItUp('setOptions', {
                        animation: {
                            enable: true
                        },
                    });
                }
            }
        });

        $("#dilgWndow").kendoWindow({
            width: "1024px",
            height: "500px",
            title: "Search for Users/Groups",
            visible: false,
            content: "/Account/SearchUsersGroups",
            actions: [
                "Maximize",
                "Close"
            ],
            modal: true,
            close: onWinClose,
            iframe: true
        });

        //Cache it
        mainWindow = $("#dilgWndow").data("kendoWindow");
    });

    function onWinClose() {
       
    }

    function loadAddedUsersGroups(addUsersGroupsView) {
        alert(addUsersGroupsView.length);
        //alert(addUsersGroupsView.length);
    }

    function selectChange(eld, val) {
        var xElm = $(eld).closest('.thumbnail');
        if (val == "Updater")
            xElm.removeClass("thumbnail-viewer").addClass("thumbnail-updater");
        else
            xElm.removeClass("thumbnail-updater").addClass("thumbnail-viewer");
    }

    function deleteTM(itemClicked) {
        if (window.confirm("Are you sure you want to delete this Team Model item?")) {
            var xElm = $(itemClicked).closest('.mix');
            xElm.fadeOut('slow');
            setTimeout(function () { xElm.detach(); }, 1000);
        }
    }

    function loadSubj4TeamModel(elm) {
        var jElm = $(elm);
        activeElm = jElm;
        //var rElm = jElm.closest(".radio").find("input");

        //bind JSON to template
        var scriptTemplate = kendo.template($("#teamSubjects-template").html());
        var subjHTML = scriptTemplate({});

        jElm.attr("data-content", subjHTML);
    }

    function tmSubjectSelect() {
        //data-TMSubjects

    }

    function showAddDlg() {
        var myWindow = null;

        if (mainWindow)
            myWindow = mainWindow;
        else
            myWindow = $("#dilgWndow").data("kendoWindow");

        myWindow.center().open();
    }
</script>
<style>
    #Container .mix {
        display: none;
    }
</style>