@{
}
@model List<TeamModeWizardStepView>
<div class="row">
    <div class="col-md-3">
        <div class="padding-30">
            <h2 class="StepTitle">Create a Team Model <span class="text-large block">to manage everything you do with your project subjects and millstones</span></h2>
            <p>
                Through this template you can control your project gaining benefits including:
            </p>
            <p class="text-small">
                <ul class="no-margin">
                    <li>
                        Access to exclusive releases and limited products.
                    </li>
                    <li>
                        ng-Clip services, benefits and promotions.
                    </li>
                </ul>
            </p>
        </div>
    </div>
    <div class="col-md-9">
        <fieldset>
            <legend>
                Team Modules
            </legend>
            <div class="row height-50 text-right">
                <button class="btn btn-success btn-scroll btn-scroll-left ti-user" type="button" onclick="showAddDlg();">
                    <span><i class="fa fa-user-plus"></i> Add </span>
                </button>
                <div class="btn-group" style="display:none">
                    <button type="button" class="btn btn-primary">
                        Sort
                    </button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#" class="sort" data-sort="my-order:asc">Ascending Order </a>
                        </li>
                        <li>
                            <a href="#" class="sort" data-sort="my-order:desc"> Descending Order </a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">
                        Filter
                    </button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#" class="filter" data-filter="all"> ALL </a>
                        </li>
                        <li>
                            <a href="#" class="filter" data-filter=".updater"> Updater </a>
                        </li>
                        <li>
                            <a href="#" class="filter" data-filter=".viewer"> Viewer </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div id="TeamContainer">
                    <div class="panel panel-white min-height-100">
                        <div class="panel-heading">
                            <div class="panel-title no-items-pending-action" style="padding:10%">
                                <i class="fa fa-info-circle"></i> Click Add button to add Users or Groups
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<!-- start: Template Area  -->
<script id="team-template" type="text/x-kendo-template">
    # for (var i = 0; i < data.length; i++) { #
    <div class="mix ${ data[i].UpdateText } col-sm-6 col-md-3" data-my-order="data[i].Name">
        <div class="thumbnail thumbnail-${ data[i].UpdateText }">
            <div class="row">
                <div class="col-md-3 no-space text-right">
                    <button type="button" class="btn btn-red" onclick="deleteTM(this);">
                        <i class="fa fa-user-times"></i>
                    </button>
                </div>
                <div class="col-md-6 " align="center">
                    <img class="img-responsive img-card" alt="" src="${ data[i].Icon }">
                </div>
            </div>
            <div class="padding-20 height-180 thumbnail-card">
                <h4 class="cut-text" title="${ data[i].Name }">${ data[i].Name }</h4>
                <div class="form-group">
                    <select class="cs-select cs-skin-slide">
                        # if(data[i].IsUpdater) { #
                        <option value="Updater" data-class="fa fa-pencil-square-o" selected="selected">Updater</option>
                        <option value="Viewer" data-class="ti-eye">Viewer</option>
                        # } else { #
                        <option value="Updater" data-class="fa fa-pencil-square-o">Updater</option>
                        <option value="Viewer" data-class="ti-eye" selected="selected">Viewer</option>
                        # } #
                    </select>
                </div>
                <div class="form-group">
                    <div class="radio clip-radio radio-primary no-space">
                        # if(data[i].IsProjectLevel) { #
                        <input name="vertical_${ data[i].SequenceNo }" id="radio_${ data[i].SequenceNo }" type="radio" checked="checked" class="radioElm">
                        # } else { #
                        <input name="vertical_${ data[i].SequenceNo }" id="radio_${ data[i].SequenceNo }" type="radio" class="radioElm">
                        # } #
                        <label for="radio_${ data[i].SequenceNo }"> Project Level</label>
                    </div>
                    <div class="radio clip-radio radio-primary no-space">
                        # if(! data[i].IsProjectLevel) { #
                        <input name="vertical_${ data[i].SequenceNo }" id="radio_${ data[i].SequenceNo + 100 }" type="radio" value="radio4" class="radioElm" checked="checked">
                        # } else { #
                        <input name="vertical_${ data[i].SequenceNo }" id="radio_${ data[i].SequenceNo + 100 }" type="radio" value="radio4" class="radioElm">
                        # } #
                        <label onclick="loadSubj4TeamModel(this, ${ data[i].SequenceNo });" for="radio_${ data[i].SequenceNo + 100 }" data-toggle="modal" data-target=".subjects-modal-right">
                            Specific Subject
                            <i class="padding-left-5 fa fa-angle-right"></i>
                            <input type="hidden" id="hdnSubjectArray_${ data[i].SequenceNo }" value="${ data[i].SubjectsArray }" />
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    # } #
</script>
<script id="teamModelSubjects-template" type="text/x-kendo-template">
    # for (var i = 0; i < data.length; i++) { #
    <div class="checkbox check-md  clip-check check-success">
        # if (data[i].Selected ) { #
        <input id="checkbox_${ data[i].Subject_Id }" type="checkbox" value="${ data[i].Subject_Id }" checked="checked" onclick="updateSubjectsArray(this, ${ data[i].Seq });">
        # } else { #
        <input id="checkbox_${ data[i].Subject_Id }" type="checkbox" value="${ data[i].Subject_Id }" onclick="updateSubjectsArray(this, ${ data[i].Seq });">
        # } #
        <label for="checkbox_${ data[i].Subject_Id }"> <h4> ${ data[i].Name } </h4></label>
    </div>
    # } #
</script>
<div id="dilgWndow">
</div>

<!-- Right Aside -->
<div class="modal fade modal-aside horizontal right subjects-modal-right" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Project Subjects</h4>
            </div>
            <div class="modal-body" id="projSubjectsBody">
                << Modal Content >>
            </div>
            <div class="modal-footer text-left">
                <button type="button" class="btn btn-red btn-o" data-dismiss="modal">
                    <i class="fa fa-times fa fa-white"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- /Right Aside -->
<!-- end: Template Area -->

<style>
    #TeamContainer .mix {
        display: none;
    }
</style>