@{
}
@model List<TeamModeWizardStepView>
<div class="row">
    <div class="col-md-3">
        <div class="padding-30">
            <h2 class="StepTitle">Create a Team Model <span class="text-large block">to manage everything you do with your project subjects and millstones</span></h2>
            <p>
                Through this template you can control your project gaining benefits including:
            </p>
            <p class="text-small">
                <ul class="no-margin">
                    <li>
                        Access to exclusive releases and limited products.
                    </li>
                    <li>
                        ng-Clip services, benefits and promotions.
                    </li>
                </ul>
            </p>
        </div>
    </div>
    <div class="col-md-9">
        <fieldset>
            <legend>
                Team Modules
            </legend>
            <div class="row height-50 text-right">
                <button class="btn btn-success btn-scroll btn-scroll-left ti-user" type="button" onclick="showAddDlg();">
                    <span><i class="fa fa-user-plus"></i> Add </span>
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">
                        Sort
                    </button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#" class="sort" data-sort="my-order:asc">Ascending Order </a>
                        </li>
                        <li>
                            <a href="#" class="sort" data-sort="my-order:desc"> Descending Order </a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">
                        Filter
                    </button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#" class="filter" data-filter="all"> ALL </a>
                        </li>
                        <li>
                            <a href="#" class="filter" data-filter=".updater"> Updater </a>
                        </li>
                        <li>
                            <a href="#" class="filter" data-filter=".viewer"> Viewer </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div id="TeamContainer">
                    <div class="panel panel-white min-height-100">
                        <div class="panel-heading">
                            <div class="panel-title no-items-pending-action" style="padding:10%">
                                <i class="fa fa-info-circle"></i> Click Add button to add Users or Groups
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<!-- start: Template Area  -->
<script id="team-template" type="text/x-kendo-template">
    # for (var i = 0; i < data.length; i++) { #
    <div class="mix ${ data[i].UpdateText } col-sm-6 col-md-3" data-my-order="1">
        <div class="thumbnail thumbnail-${ data[i].UpdateText }">
            <div class="row">
                <div class="col-md-3 no-space text-right">
                    <button type="button" class="btn btn-red" onclick="deleteTM(this);">
                        <i class="fa fa-user-times"></i>
                    </button>
                </div>
                <div class="col-md-6 " align="center">
                    <img class="img-responsive img-card" alt="" src="${ data[i].Icon }">
                </div>
            </div>
            <div class="padding-20 height-180 thumbnail-card">
                <h4 class="cut-text" title="${ data[i].Name }">${ data[i].Name }</h4>
                <div class="form-group">
                    <select class="cs-select cs-skin-slide">
                        # if(data[i].IsUpdater) { #
                        <option value="Updater" data-class="fa fa-pencil-square-o" selected="selected">Updater</option>
                        <option value="Viewer" data-class="ti-eye">Viewer</option>
                        # } else { #
                        <option value="Updater" data-class="fa fa-pencil-square-o">Updater</option>
                        <option value="Viewer" data-class="ti-eye" selected="selected">Viewer</option>
                        # } #
                    </select>
                </div>
                <div class="form-group">
                    <div class="radio clip-radio radio-primary no-space">
                        # if(data[i].IsProjectLevel) { #
                        <input name="vertical_${ data[i].SequenceNo }" id="radio_${ data[i].SequenceNo }" type="radio" checked="checked" class="radioElm">
                        # } else { #
                        <input name="vertical_${ data[i].SequenceNo }" id="radio_${ data[i].SequenceNo }" type="radio" class="radioElm">
                        # } #
                        <label for="radio_${ data[i].SequenceNo }"> Project Level</label>
                    </div>
                    <div class="radio clip-radio radio-primary no-space">
                        # if(! data[i].IsProjectLevel) { #
                        <input name="vertical_${ data[i].SequenceNo }" id="radio_${ data[i].SequenceNo + 100 }" type="radio" value="radio4" class="radioElm" checked="checked">
                        # } else { #
                        <input name="vertical_${ data[i].SequenceNo }" id="radio_${ data[i].SequenceNo + 100 }" type="radio" value="radio4" class="radioElm">
                        # } #
                        <label onclick="loadSubj4TeamModel(this, ${ data[i].SequenceNo });" data-TMSubjects="" for="radio_${ data[i].SequenceNo + 100 }" class="cl-effect-3 links block margin-top-10 uppercase text-dark text-uppercase text-bold text-extra-small" aria-describedby="popover303618" data-original-title="" data-toggle="popover" data-placement="top" data-html="true">
                            Specific Subject
                            <i class="padding-left-5 fa fa-angle-right"></i>
                            <input type="hidden" id="hdnSubjectArray" value="${ data[i].SubjectsArray }" />
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    # } #
</script>
<script id="teamSubjects-template" type="text/x-kendo-template">
    <div style="width:350px">
        <h3>Project Subjects</h3>
        <div class="checkbox clip-check check-success">
            <input id="checkbox61" type="checkbox" value="1">
            <label for="checkbox61"> Checkbox 1 </label>
        </div>
        <div class="checkbox clip-check check-success">
            <input id="checkbox71" type="checkbox" value="1">
            <label for="checkbox71"> Checkbox 2 </label>
        </div>
        <div class="checkbox clip-check check-success">
            <input id="checkbox81" type="checkbox" value="1">
            <label for="checkbox81"> Checkbox 3 </label>
        </div>
    </div>
</script>
<div id="dilgWndow">
</div>
<!-- end: Template Area -->

<script type="text/javascript">
    var activeElm = null;
    var mainWindow = null;

    $(document).ready(function () {
        MixDataUp();

        $("#dilgWndow").kendoWindow({
            width: "1024px",
            height: "500px",
            title: "Search for Users/Groups",
            visible: false,
            content: "/Account/SearchUsersGroups",
            actions: [
                "Maximize",
                "Close"
            ],
            modal: true,
            close: onWinClose,
            iframe: true
        });
        //Cache it
        mainWindow = $("#dilgWndow").data("kendoWindow");

        //Unit Test 1
        //var data = [];
        //for (var i = 0; i < 20; i++) {
        //    data[i] = {};
        //    data[i].ItemId = i;
        //    data[i].ItemType = i == 0 ? 1 : 2;
        //    data[i].Name = "Murad " + i;
        //    data[i].Icon = "/images/form/User_male.png";
        //}
        //loadAddedUsersGroups(data);
    });

    function onWinClose() {
    }

    function MixDataUp() {
        $('#TeamContainer').mixItUp({
            animation: {
                enable: false
            },
            layout: {
                display: 'inline'
            },
            callbacks: {
                onMixLoad: function () {
                    $(this).mixItUp('setOptions', {
                        animation: {
                            enable: true
                        },
                    });
                }
            }
        });
    }

    function loadAddedUsersGroups(addUsersGroupsView) {
        var teamCont = $('#TeamContainer');

        if (teamCont.find(".panel-heading").length > 0)
            teamCont.html("");

        $('#TeamContainer').mixItUp('destroy');
        var scriptTemplate = kendo.template($("#team-template").html());

        //Construct Data Object
        var data = [];
        $.each(addUsersGroupsView, function (index, value) {
            data[index] = {};
            data[index].TeamModel_Id = 0;
            if (value.ItemType == 1) //"chkUser" ? 1
            {
                data[index].User_Id = value.ItemId;
            } else {
                data[index].Group_Id = value.ItemId;
            }
            data[index].IsUpdater = false;
            data[index].UpdateText = "viewer"; //viewer OR updater
            data[index].SequenceNo = index;
            data[index].Project_Id = 0;
            data[index].IsProjectLevel = true;
            data[index].SubjectsArray = "aaaa";
            data[index].Icon = value.Icon;
            data[index].Name = value.Name;
        });

        var addedElm = $(scriptTemplate(data));
        $("#TeamContainer").append(addedElm);

        //Reload Custom selected
        addedElm.find('.cs-select').each(function( index ) {
            var el = $( this )
            new SelectFx(el[0], {
                stickyPlaceholder: false,
                onChange: function (val) {
                    selectChange(el, val);
                }
            });
        });
        
        addedElm.find('[data-toggle="popover"]').popover();

        MixDataUp();

        var myWindow = null;

        if (mainWindow)
            myWindow = mainWindow;
        else
            myWindow = $("#dilgWndow").data("kendoWindow");

        //Main.init();

        myWindow.close();
    }

    function selectChange(eld, val) {
        var xElm = $(eld).closest('.mix');
        if (val == "Updater"){
            xElm.removeClass("viewer").addClass("updater");
            xElm.find(".thumbnail").removeClass("thumbnail-viewer").addClass("thumbnail-updater");
        } else{
            xElm.removeClass("updater").addClass("viewer");
            xElm.find(".thumbnail").removeClass("thumbnail-updater").addClass("thumbnail-viewer");
        }
    }

    function deleteTM(itemClicked) {
        if (window.confirm("Are you sure you want to delete this Team Model item?")) {
            var xElm = $(itemClicked).closest('.mix');
            xElm.fadeOut('slow');
            setTimeout(function () { xElm.detach(); }, 1000);
        }
    }

    function loadSubj4TeamModel(elm, seqNo) {
        var jElm = $(elm);
        activeElm = jElm;
        //var rElm = jElm.closest(".radio").find("input");

        //bind JSON to template
        var scriptTemplate = kendo.template($("#teamSubjects-template").html());
        var subjHTML = scriptTemplate({});

        jElm.attr("data-content", subjHTML);
    }

    function tmSubjectSelect() {
        //data-TMSubjects

    }

    function showAddDlg() {
        var myWindow = null;

        if (mainWindow)
            myWindow = mainWindow;
        else
            myWindow = $("#dilgWndow").data("kendoWindow");

        myWindow.center().open();
    }
</script>
<style>
    #TeamContainer .mix {
        display: none;
    }
</style>