<!-- start: WIZARD DEMO -->
<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">

                    <!-- start: WIZARD FORM -->
                    <form action="#" role="form" class="smart-wizard" id="form">
                        <div id="wizard" class="swMain">
                            <!-- start: WIZARD SEPS -->
                            <ul>
                                <li>
                                    <a href="#step-1">
                                        <div class="stepNumber">
                                            1
                                        </div> <span class="stepDesc"><small> Project Information </small></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-2">
                                        <div class="stepNumber">
                                            2
                                        </div> <span class="stepDesc"> <small> Template </small></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-3">
                                        <div class="stepNumber">
                                            3
                                        </div> <span class="stepDesc"> <small> Team Module </small> </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-4">
                                        <div class="stepNumber">
                                            4
                                        </div> <span class="stepDesc"> <small> Review Workflow </small> </span>
                                    </a>
                                </li>
                            </ul>
                            <!-- end: WIZARD SEPS -->
                            <!-- start: WIZARD STEP 1 : Project Information  -->
                            <div id="step-1">
                                @await Component.InvokeAsync("ProjectInfoWizardStep", new { projectId = 0 })
                                <div class="form-group">
                                    <button class="btn btn-primary btn-o next-step btn-wide pull-right">
                                        Save & Move Next <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- end: WIZARD STEP 1 -->
                            <!-- start: WIZARD STEP 2 -->
                            <div id="step-2" style="display:none;">
                                @await Component.InvokeAsync("TemplateWizardStep", new { projectId = 0 })
                                <div class="form-group">
                                    <button class="btn btn-primary btn-o back-step btn-wide pull-left">
                                        <i class="fa fa-circle-arrow-left"></i> Back
                                    </button>
                                    <button class="btn btn-primary btn-o next-step btn-wide pull-right">
                                        Save & Move Next <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- end: WIZARD STEP 2 -->
                            <!-- start: WIZARD STEP 3 -->
                            <div id="step-3" style="display:none;">
                                @await Component.InvokeAsync("TeamModelWizardStep", new { projectId = 0 })
                                <div class="form-group">
                                    <button class="btn btn-primary btn-o back-step btn-wide pull-left">
                                        <i class="fa fa-circle-arrow-left"></i> Back
                                    </button>
                                    <button class="btn btn-primary btn-o next-step btn-wide pull-right">
                                        Next <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- end: WIZARD STEP 3 -->
                            <!-- start: WIZARD STEP 4 -->
                            <div id="step-4" style="display:none;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text-center">
                                            <h1 class=" ti-check block text-primary"></h1>
                                            <h2 class="StepTitle">Congratulations!</h2>
                                            <p class="text-large">
                                                Your tutorial is complete.
                                            </p>
                                            <p class="text-small">
                                                Thank you for your registration. Your transaction has been completed, and a receipt for your purchase has been emailed to you.  You may log into your account to view details of this transaction.
                                            </p>
                                            <a class="btn btn-primary btn-o go-first" href="javascript:void(0)"> Back to first step </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end: WIZARD STEP 4 -->
                        </div>
                    </form>
                    <!-- end: WIZARD FORM -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: WIZARD DEMO -->


@section CssStyle{
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css">
    <link href="~/lib/nestable-fork/dist/jquery.nestable.min.css" rel="stylesheet" media="screen">
    @*Override JQuery Nestable*@
    <link href="~/css/_nestable.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen">
    <link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet" media="screen">

}

@section Scripts{
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="~/lib/bb-jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/lib/nestable-fork/dist/jquery.nestable.min.js"></script>
    @*<script src="~/lib/mixitup/build/jquery.mixitup.min.js"></script>*@

    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <!-- start: Packet JAVASCRIPTS -->
    <script src="~/assets/js/letter-icons.js"></script>
    <script src="~/assets/js/main.js"></script>
    <!-- end: Packet JAVASCRIPTS -->
    <!-- start: JavaScript Event Handlers for this page -->
    <script src="~/assets/js/selectFx/classie.js"></script>
    <script src="~/assets/js/selectFx/selectFx.js"></script>
    <script src="~/lib/mixitup/src/jquery.mixitup.js"></script>

    <!--Murad : Created for wizard -->
    <!--
    ***************************************************
    <script src="~/assets/js/form-wizard.js"></script>
    ***************************************************
    -->
    <script src="~/js/CreateProjectFormWizard.js"></script>
    <script src="~/js/CreateProjectUI-Notifications.js"></script>
    <script src="~/js/CreateProjectUI-nestable.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var wizardContent = $('#wizard');
            wizardContent.smartWizard("goToStep", 3);
        });


    </script>
    <!-- end: JavaScript Event Handlers for this page -->

}

