@model IEnumerable<Project>

<!-- start: FIRST SECTION -->
<div class="container-fluid container-fullw padding-bottom-10">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-white no-radius">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="panel panel-white no-radius no-border">
                                <div class="panel-body">
                                    <p class="text-muted" style="text-align:right">
                                        <a class="btn btn-wide btn-primary" asp-controller="Project" asp-action="CreateProjectWizard"><i class="glyphicon glyphicon-plus"></i> Add New Project</a>
                                    </p>
                                    <ul class="list-group">
                                        <li class="list-group-item no-radius no-margin no-border-top no-border-left no-border-right">
                                            <div class="row">
                                                <div class="col-xs-5"><h4>Project Name</h4></div>
                                                <div class="col-xs-5"><h4>Percentage Completed</h4></div>
                                                <div class="col-xs-2"><h4>Action</h4></div>
                                            </div>
                                        </li>
                                        @foreach (Project item in Model)
                                        {
                                            <li class="list-group-item no-radius no-margin no-border-top no-border-left no-border-right">
                                                <div class="row">
                                                    <div class="col-xs-5">
                                                        <a href="#"> <div class="lettericon margin-right-5" data-text="Kappa" data-size="sm" data-color="#947499"></div> @item.Name</a>
                                                    </div>
                                                    <div class="col-xs-5">
                                                        <span class="block padding-top-10">
                                                            <div class="progress progress-xs no-radius background-dark no-margin">
                                                                <div class="progress-bar progress-bar-purple" role="progressbar" aria-valuenow="@item.PercentComplete" aria-valuemin="0" aria-valuemax="100" style="width: @item.PercentComplete%;">
                                                                    <span class="sr-only"> @item.PercentComplete </span>
                                                                </div>
                                                            </div>
                                                        </span>
                                                    </div>
                                                    <div class="col-xs-2">

                                                        <div class="btn-group">
                                                            <a class="btn btn-primary btn-o dropdown-toggle" data-toggle="dropdown" href="#"> Action <span class="caret"></span> </a>
                                                            <ul role="menu" class="dropdown-menu dropdown-light">
                                                                <li>
                                                                    <a href="#"> Edit </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#"> Change Status </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#"> Close </a>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                    </div>
                                                </div>
                                            </li>
                                        }
                                        @if (Model.Count() < 1)
                                        {
                                            <text>
                                            <div class="panel panel-white min-height-300">
                                                <div class="panel-heading">
                                                    <div class="panel-title no-items-found">
                                                        <i class="fa fa-info-circle"></i> No Projects Available
                                                    </div>
                                                </div>
                                            </div>
                                            </text>
                                        }
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: FIRST SECTION -->


@section Scripts{
    <!-- start: JavaScript Event Handlers for this page -->
    <script src="~/assets/js/index.js"></script>
    <script>
        jQuery(document).ready(function () {
            Main.init();
            Index.init();
        });
    </script>
    <!-- end: JavaScript Event Handlers for this page -->
}